In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/apple_dropped.csv')

/tmp/ipykernel_7302/159935969.py:1: DtypeWarning: Columns (8,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/apple_dropped.csv')

df.drop(df[df['sourceName'] == 'JorgeAndres’s iPhone'].index, inplace=True)

df.drop(df[df['workoutActivityType'].isna() & df['type'].isna()].index, inplace=True)

df.to_csv('data/apple_dropped.csv', index=False)

In [3]:
data_types = [
    'ActiveEnergyBurned',
    'AppleExerciseTime',
    'AppleStandTime',
    'BasalEnergyBurned',
    'BodyFatPercentage',
    'BodyMass',
    'HeartRate',
    'LeanBodyMass',
    'RespiratoryRate',
    'RestingHeartRate',
    'SleepAnalysis',
    'StepCount',
    'WalkingHeartRateAverage',
    'VO2Max',
    'DistanceWalkingRunning'
]

In [4]:
df_dict = {t: df[df['type'] == t].copy() for t in data_types}

In [5]:
for t, df_temp in df_dict.items():
    df_temp.to_csv(f'data/metrics/{t}.csv', index=False)

In [6]:
df_extra = df[df['type'].isna()].copy()
df_extra.head()

,type,sourceName,value,unit,startDate,endDate,creationDate,dateComponents,date,appleMoveTimeGoal,...,BloodType,time,DateOfBirth,appleMoveTime,duration,average,durationUnit,workoutActivityType,CardioFitnessMedicationsUse,minimum
9997,NaN,Jorge’s Apple Watch,NaN,NaN,2024-04-25 19:41:44 -0500,2024-04-25 19:44:50 -0500,2024-04-25 19:44:51 -0500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.099851,NaN,min,HKWorkoutActivityTypeTraditionalStrengthTraining,NaN,NaN
16265,NaN,Jorge’s Apple Watch,NaN,NaN,2024-04-24 19:34:31 -0500,2024-04-24 20:50:22 -0500,2024-04-24 20:50:25 -0500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,75.838702,NaN,min,HKWorkoutActivityTypeTraditionalStrengthTraining,NaN,NaN
21554,NaN,Jorge’s Apple Watch,NaN,NaN,2024-04-23 19:00:39 -0500,2024-04-23 19:57:49 -0500,2024-04-23 19:57:52 -0500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,57.169065,NaN,min,HKWorkoutActivityTypeTraditionalStrengthTraining,NaN,NaN
30807,NaN,Jorge’s Apple Watch,NaN,NaN,2024-04-20 12:32:37 -0500,2024-04-20 13:43:19 -0500,2024-04-20 13:43:23 -0500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,63.408464,NaN,min,HKWorkoutActivityTypeTraditionalStrengthTraining,NaN,NaN
36965,NaN,Jorge’s Apple Watch,NaN,NaN,2024-04-19 18:42:06 -0500,2024-04-19 19:59:50 -0500,2024-04-19 19:59:54 -0500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,77.724900,NaN,min,HKWorkoutActivityTypeTraditionalStrengthTraining,NaN,NaN

In [7]:
df_extra.to_csv('data/metrics/extra_info.csv', index=False)

In [8]:
df_extra['workoutActivityType'].unique()

array(['HKWorkoutActivityTypeTraditionalStrengthTraining',
       'HKWorkoutActivityTypeSoccer', 'HKWorkoutActivityTypeWalking',
       'HKWorkoutActivityTypeFunctionalStrengthTraining',
       'HKWorkoutActivityTypeElliptical', 'HKWorkoutActivityTypeOther',
       'HKWorkoutActivityTypeBasketball'], dtype=object)

In [9]:
default_columns = ['type', 'value', 'unit', 'startDate', 'endDate']

In [10]:
# walking-distance, stand-time,... to be continued

In [11]:
for t, df_temp in df_dict.items():
    df_dict[t] = df_temp[default_columns]

In [12]:
conversions_dict = {
    'DistanceWalkingRunning': {'unit': 'mi', 'new_unit': 'meter(s)', 'f': lambda x: x * 1609, 'dtype': float, 'indicator': 'sum'},
    'AppleStandTime': {'unit': 'min', 'new_unit': 'min', 'dtype': int, 'f': lambda x: x / 60, 'indicator': 'sum'},
    'HeartRate': {'unit': 'count/min', 'new_unit': 'count/min', 'dtype': float, 'indicator': 'mean'},
    'VO2Max' : {'unit': 'mL/min·kg', 'new_unit': 'mL/min·kg', 'dtype': float, 'indicator': 'mean'}
}

In [13]:
metric = 'VO2Max'
unit = conversions_dict[metric]['unit']
new_unit = conversions_dict[metric]['new_unit']
dtype = conversions_dict[metric]['dtype']
indicator = conversions_dict[metric]['indicator']
f = conversions_dict[metric].get('f')

In [14]:
df = df_dict[metric].copy()

In [15]:
# Convert 'datetime' column to datetime dtype
# .loc[:, 'startDate']
df.loc[:, 'start_date'] = pd.to_datetime(df['startDate']).dt.date
df.loc[:, 'end_date'] = pd.to_datetime(df['startDate']).dt.date
df.loc[:, 'value'] = df['value'].astype(dtype)

In [16]:
from datetime import datetime, timedelta

# Get the current date
current_date = datetime.now().date()  # Get current date without time component

# Calculate date 30 days back
date_30_days_back = current_date - timedelta(days=30)

# Calculate date 7 days back
date_7_days_back = current_date - timedelta(days=7)

In [17]:
df = df[df['start_date'] >= date_30_days_back].copy()
window = 'month'
# df = df[df['start_date'] >= date_7_days_back].copy()
# window = 'week'
df

,type,value,unit,startDate,endDate,start_date,end_date
101,AppleStandTime,4,min,2024-05-02 18:25:00 -0500,2024-05-02 18:30:00 -0500,2024-05-02,2024-05-02
121,AppleStandTime,3,min,2024-05-02 18:20:00 -0500,2024-05-02 18:25:00 -0500,2024-05-02,2024-05-02
133,AppleStandTime,1,min,2024-05-02 18:10:00 -0500,2024-05-02 18:15:00 -0500,2024-05-02,2024-05-02
160,AppleStandTime,1,min,2024-05-02 17:55:00 -0500,2024-05-02 18:00:00 -0500,2024-05-02,2024-05-02
175,AppleStandTime,2,min,2024-05-02 17:50:00 -0500,2024-05-02 17:55:00 -0500,2024-05-02,2024-05-02
...,...,...,...,...,...,...,...
90615,AppleStandTime,4,min,2024-04-05 10:05:00 -0500,2024-04-05 10:10:00 -0500,2024-04-05,2024-04-05
90625,AppleStandTime,1,min,2024-04-05 10:00:00 -0500,2024-04-05 10:05:00 -0500,2024-04-05,2024-04-05
90669,AppleStandTime,2,min,2024-04-05 09:20:00 -0500,2024-04-05 09:25:00 -0500,2024-04-05,2024-04-05
91078,AppleStandTime,1,min,2024-04-05 00:40:00 -0500,2024-04-05 00:45:00 -0500,2024-04-05,2024-04-05
91141,AppleStandTime,1,min,2024-04-05 00:00:00 -0500,2024-04-05 00:05:00 -0500,2024-04-05,2024-04-05

In [18]:
# df_agg = df.groupby('start_date')['value'].sum().reset_index()
if indicator == 'mean':
    df_agg = df.groupby('start_date')['value'].mean().reset_index()
else:
    df_agg = df.groupby('start_date')['value'].sum().reset_index()
df_agg

    start_date     value
0   2024-04-05   2.57377
1   2024-04-06   1.97619
2   2024-04-07     1.925
3   2024-04-08       2.7
4   2024-04-09      2.25
5   2024-04-10  2.140351
6   2024-04-11  1.976744
7   2024-04-12  1.730769
8   2024-04-13  2.395833
9   2024-04-14  1.722222
10  2024-04-15  2.947368
11  2024-04-16  1.363636
12  2024-04-17  1.388889
13  2024-04-18  2.652174
14  2024-04-19  2.457627
15  2024-04-20      2.02
16  2024-04-21    1.8125
17  2024-04-22  1.764706
18  2024-04-23  2.393939
19  2024-04-24  2.381818
20  2024-04-25  1.583333
21  2024-04-26     1.825
22  2024-04-27  2.344828
23  2024-04-28  2.142857
24  2024-04-29  1.783784
25  2024-04-30  1.583333
26  2024-05-01      1.95
27  2024-05-02  1.684211

In [19]:
if f:
    df_agg[new_unit] = df_agg['value'].apply(f)
else:
    df_agg[new_unit] = df_agg['value']

In [20]:
df_agg

    start_date     value       min
0   2024-04-05   2.57377  0.042896
1   2024-04-06   1.97619  0.032937
2   2024-04-07     1.925  0.032083
3   2024-04-08       2.7  0.045000
4   2024-04-09      2.25  0.037500
5   2024-04-10  2.140351  0.035673
6   2024-04-11  1.976744  0.032946
7   2024-04-12  1.730769  0.028846
8   2024-04-13  2.395833  0.039931
9   2024-04-14  1.722222  0.028704
10  2024-04-15  2.947368  0.049123
11  2024-04-16  1.363636  0.022727
12  2024-04-17  1.388889  0.023148
13  2024-04-18  2.652174  0.044203
14  2024-04-19  2.457627  0.040960
15  2024-04-20      2.02  0.033667
16  2024-04-21    1.8125  0.030208
17  2024-04-22  1.764706  0.029412
18  2024-04-23  2.393939  0.039899
19  2024-04-24  2.381818  0.039697
20  2024-04-25  1.583333  0.026389
21  2024-04-26     1.825  0.030417
22  2024-04-27  2.344828  0.039080
23  2024-04-28  2.142857  0.035714
24  2024-04-29  1.783784  0.029730
25  2024-04-30  1.583333  0.026389
26  2024-05-01      1.95  0.032500
27  2024-05-02  1.684211  0.028070

In [21]:
df_agg.to_csv(f'data/metrics/agg/{metric}_{window}.csv', index=False)

In [22]:
f'avg: {df_agg[new_unit].mean()}'

'avg: 0.03420885993259778'

In [26]:
df_agg.loc[df_agg[new_unit].idxmax()]
df_agg[new_unit].max()

0.04912280701754386

In [24]:
df_extra

,type,sourceName,value,unit,startDate,endDate,creationDate,dateComponents,date,appleMoveTimeGoal,...,BloodType,time,DateOfBirth,appleMoveTime,duration,average,durationUnit,workoutActivityType,CardioFitnessMedicationsUse,minimum
9997,NaN,Jorge’s Apple Watch,NaN,NaN,2024-04-25 19:41:44 -0500,2024-04-25 19:44:50 -0500,2024-04-25 19:44:51 -0500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.099851,NaN,min,HKWorkoutActivityTypeTraditionalStrengthTraining,NaN,NaN
16265,NaN,Jorge’s Apple Watch,NaN,NaN,2024-04-24 19:34:31 -0500,2024-04-24 20:50:22 -0500,2024-04-24 20:50:25 -0500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,75.838702,NaN,min,HKWorkoutActivityTypeTraditionalStrengthTraining,NaN,NaN
21554,NaN,Jorge’s Apple Watch,NaN,NaN,2024-04-23 19:00:39 -0500,2024-04-23 19:57:49 -0500,2024-04-23 19:57:52 -0500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,57.169065,NaN,min,HKWorkoutActivityTypeTraditionalStrengthTraining,NaN,NaN
30807,NaN,Jorge’s Apple Watch,NaN,NaN,2024-04-20 12:32:37 -0500,2024-04-20 13:43:19 -0500,2024-04-20 13:43:23 -0500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,63.408464,NaN,min,HKWorkoutActivityTypeTraditionalStrengthTraining,NaN,NaN
36965,NaN,Jorge’s Apple Watch,NaN,NaN,2024-04-19 18:42:06 -0500,2024-04-19 19:59:50 -0500,2024-04-19 19:59:54 -0500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,77.724900,NaN,min,HKWorkoutActivityTypeTraditionalStrengthTraining,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884893,NaN,Jorge’s Apple Watch,NaN,NaN,2023-03-06 17:59:52 -0500,2023-03-06 18:43:08 -0500,2023-03-06 18:43:11 -0500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,43.261955,NaN,min,HKWorkoutActivityTypeWalking,NaN,NaN
886964,NaN,Jorge’s Apple Watch,NaN,NaN,2023-03-05 09:12:36 -0500,2023-03-05 10:44:01 -0500,2023-03-05 10:44:06 -0500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,86.462861,NaN,min,HKWorkoutActivityTypeSoccer,NaN,NaN
891636,NaN,Jorge’s Apple Watch,NaN,NaN,2023-03-02 07:30:38 -0500,2023-03-02 08:04:15 -0500,2023-03-02 08:04:17 -0500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,33.612700,NaN,min,HKWorkoutActivityTypeWalking,NaN,NaN
899440,NaN,Jorge’s Apple Watch,NaN,NaN,2023-02-25 12:58:36 -0500,2023-02-25 14:01:26 -0500,2023-02-25 14:01:30 -0500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,62.841597,NaN,min,HKWorkoutActivityTypeSoccer,NaN,NaN
911455,NaN,Jorge’s Apple Watch,NaN,NaN,2023-02-16 20:25:00 -0500,2023-02-16 21:09:17 -0500,2023-02-16 21:09:26 -0500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,44.279257,NaN,min,HKWorkoutActivityTypeWalking,NaN,NaN

In [25]:
pd.read_csv('data/data.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'data/data.csv'